body, html, #root, .container {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  max-width: 100%;
}

.show-cover .cover-image {
  width: 600px; /* Adjust for desired size */
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.description {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.platform-icons, .social-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.listen-now {
  display: block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-bottom: 15px;
}

.additional-links a {
  font-size: 0.9em;
  color: #555;
  text-decoration: none;
}

.additional-links a:hover {
  text-decoration: underline;
}

.icon {
  width: 28px;
  height: 28px;
}
